<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Calculadora</title>
</head>
<body>
<h1>Menú Calculadora</h1>
      <ul>
         <li><a href="calculoSuma?n1=89&n2=5">Sumar</a></li>
         <li><a href="calculoResta?n1=82&n2=5">Resta</a></li>
         <li><a href="calculoMultiplicacion?n1=83&n2=5">Multiplicacion</a></li>
         <li><a href="calculoDivision?n1=84&n2=5">Division</a></li>          
         <li><a href="calculoPotencia?n1=86&n2=5">Potencia</a></li>           
         <li><a href="calculoRaiz?n1=81&n2=5">Raiz</a></li>
      </ul>

</body>
</html>